name: Build Android APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Run Buildozer in Docker
      run: |
        docker run --rm \
          -v $PWD:/app \
          -v $HOME/.buildozer:/home/user/.buildozer \
          -e PACKAGES=$PACKAGES \
          -e ANDROID_HOME=/home/user/.buildozer/android/platform/android-sdk \
          kivy/buildozer \
          bash -c "yes | buildozer android debug"
          
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-apk
        path: bin/*.apk
