name: Build Android APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build APK
      run: |
        # 设置pip不检查所有权
        docker run --rm \
          -v $PWD:/app \
          -v $HOME/.buildozer:/home/user/.buildozer \
          -w /app \
          -e "PIP_NO_CHECK_ROOT=1" \
          -e "PIP_ROOT_USER_ACTION=ignore" \
          kivy/buildozer \
          bash -c "pip config set global.no-check-root true && buildozer android debug"
          
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-apk
        path: bin/*.apk
